<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>CrowdFunding</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
* { font-family: NanumGothic, 'Malgun Gothic'; }

html, body { overflow-x: hidden; /* 좁은 화면에서 스크롤 방지 */ }
body { padding-top: 80px; }
footer { padding: 30px 0; }
ul > li{margin-right:25px;font-weight:lighter;cursor:pointer;}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:20px;display:inline-flex;margin-bottom:0;margin-top:20px}
.btn-success{width:100%;border-radius:0;font-size:17px;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}


@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .row-offcanvas-right { right: 0; }
  .row-offcanvas-left { left: 0; }
  .row-offcanvas-right
  .sidebar-offcanvas { right: -50%; /* 컬럼 6개 */ }
  .row-offcanvas-left
  .sidebar-offcanvas { left: -50%; /* 컬럼 6개 */ }
  .row-offcanvas-right.active { right: 50%; /* 컬럼 6개 */ }
  .row-offcanvas-left.active { left: 50%; /* 컬럼 6개 */ }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 컬럼 6개 */
  }
  .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{width:104%;}
    .menu-items{padding-left:0;}
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
  $('[data-toggle="offcanvas"]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });
	   $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            })         
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })                     
});
</script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="/"><b>CrowdFunding</b></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
<% if(!login){%>
        <li><a href="/login"><b>로그인</b></a></li>
        <li><a href="/reg"><b>회원가입</b></a></li>
        <li><a href="/find"><b>아이디/비밀번호 찾기</b></a></li>
<% } else {%>
        <li><a href="/logout"><b>로그아웃</b></a></li>
        <li><a href="/mypage"><b>마이페이지</b></a></li>
<% } %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->



<div class="container">
 <div class="row">
				
               <div class="col-xs-4 item-photo">
                    <img style="max-width:100%;" src="/uploads/<%=project.main_image2%>" />
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3><%=project.title%></h3>    
                    <h5 style="color:#337ab7"><%=project.creators%></h5>
        
                    <!-- Detalles especificos del producto -->
                    <div class="section">
                        <h5 class="title-attr" style="margin-top:15px;" >모인 금액</h5>                    
                        <div>
                           <h5><%=project.gather%>원&nbsp;<%=project.gather /project.goal*100%>%</h5>            
                        </div>
                    </div>
                    <div class="section" style="padding-bottom:5px;">
                        <h5 class="title-attr">남은  시간</h5>                    
                        <div>
                       		<h5><%=project.date%>일</h5>   
                        </div>
                    </div>   
                    <div class="section" style="padding-bottom:20px;">
                        <h5 class="title-attr">후원자</h5>                    
                        <div>
                       		<h5><%=count.count%>명</h5>   
                        </div>
                    </div>
		<div class="form-group">
    			<div class="col-sm-10"  style="padding-bottom:10px;">
	     			<select class="form-control" name="reward" id="reward">
	        			<%if(project.reward1||project.price1){%>
		<option><%=project.reward1%>&nbsp;&nbsp;<%=project.price1%></option>
		<%}%>	
    	    	<%if(project.reward2||project.price2){%>
		<option><%=project.reward2%>&nbsp;&nbsp;<%=project.price2%></option>
		<%}%>	
		<%if(project.reward3||project.price3){%>
		<option><%=project.reward3%>&nbsp;&nbsp;<%=project.price3%></option>
		<%}%>		
		<%if(project.reward4||project.price4){%>
		<option><%=project.reward4%>&nbsp;&nbsp;<%=project.price4%></option>
		<%}%>	
		<%if(project.reward5||project.price5){%>
		<option><%=project.reward5%>&nbsp;&nbsp;<%=project.price5%></option>
		<%}%>		
    	</select>
    </div>
  </div>     
        
                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                                        </div>                                        
                </div>                             
        
                <div class="col-xs-9">
                    <ul class="menu-items">
                        <li><a href="/project/detail/<%=project.project_id%>">상세정보</li>
                        <li class="active"><a href="/project/detail/<%=project.project_id%>/QnA">QnA</a></li>
                        <li><a href="/project/detail/<%=project.project_id%>/review">프로젝트 후기</a></li>
                    </ul>
                   <div style="width:100%;border-top:1px solid silver">
                   <form method="post"> 
                     <br/>
               
                    <div id=DetailDiv>
                  
                     <br/>
                    <div class="table-responsive">
        <table class="table">
         <%if(QnA.length){%> 
         <% QnA.forEach(function (item, index){ %>
       
         <tr>
      	 <td>
            <dl> 
	    <dt><%=item.name %></dt>
          
            <dd><%=item.question %></dd>
             <%if(item.answer){%>
            <br/>
            <dd><dt>창작자 답변 </dt><%=item.answer %></dd>
             <%}%>
             </dl>
              <%if(project.userid==login){%>
             <a href="/project/detail/<%=project.project_id%>/QnA/<%=item.QnA_id%>" onClick="window.open('/project/detail/<%=project.project_id%>/QnA/<%=item.QnA_id%>', '답글달기', 'resizable, height=260, width=370'); return false;"><input class="btn btn-default btn-sm" type="button" value="답글달기" /></a>
          	 <%}%>
             </td>           
        </tr>
         <% }); %>
          <% } %>
 <%if(!QnA.length){%>
              <center><p>작성된 Q&A가 없습니다.</p></center>
         <%}%>
        </table>
        </div>
        </div>
          </form>

                                          
                    </div>



                </div>
			
            </div>
</div>

<br/><br/><br/><br/>

</body>
</html>


